@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300i,400i,500i,700i");
@layer base {
  html {
    font-family: Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
      sans-serif;
    font-display: swap;
  }
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/*
  SCROLL BAR
*/
body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
  height: 12px;
}

body::-webkit-scrollbar-track {
  background: white; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(117, 123, 136); /* color of the scroll thumb */
  border-radius: 25px; /* roundness of the scroll thumb */
  border: 2px solid white; /* creates padding around scroll thumb */
}

@media (max-width: 1024px) {
  body::-webkit-scrollbar {
    width: 2px; /* width of the entire scrollbar */
    height: 12px;
  }
}

div::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
  height: 12px;
}

div::-webkit-scrollbar-track {
  background: white; /* color of the tracking area */
}

div::-webkit-scrollbar-thumb {
  background-color: rgb(117, 123, 136); /* color of the scroll thumb */
  border-radius: 25px; /* roundness of the scroll thumb */
  border: 2px solid white; /* creates padding around scroll thumb */
}

@media (max-width: 1024px) {
  div::-webkit-scrollbar {
    width: 2px; /* width of the entire scrollbar */
    height: 12px;
  }
}

/*
  NPROGRESS BAR/SPINNER
*/
#nprogress {
  --primary-color: #ff4747;
  pointer-events: none;
}
#nprogress .bar {
  background: var(--primary-color);
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 0 45px 45px 0;
}
/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px var(--primary-color), 0 0 5px var(--primary-color);
  opacity: 1;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}
